<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Заголовок</h2>
    <p>Задача организации, в особенности же реализация намеченных плановых заданий в значительной степени обуславливает создание направлений прогрессивного развития.</p>
    <p><a class="btn btn-default" href="#" role="button">Узнать подробнее &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Заголовок</h2>
    <p>Разнообразный и богатый опыт реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.</p>
    <p><a class="btn btn-default" href="#" role="button">Узнать подробнее &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Заголовок</h2>
    <p>Равным образом новая модель организационной деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий.</p>
    <p><a class="btn btn-default" href="#" role="button">Узнать подробнее &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


<!-- START THE FEATURETTES -->

<a name="Заголовок-первой-фичи"></a>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Заголовок первой фичи. <span class="text-muted">Он взорвёт вам мозг.</span></h2>
    <p class="lead">Таким образом дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" src="http://placehold.it/500x500" alt="Generic placeholder image">
  </div>
</div>

<a name="Заголовок-второй-фичи"></a>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">О да, это так здорово. <span class="text-muted">Оцените сами.</span></h2>
    <p class="lead">Задача организации, в особенности же укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.</p>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <img class="featurette-image img-responsive center-block" src="http://placehold.it/500x500" alt="Generic placeholder image">
  </div>
</div>

<a name="Заголовок-третьей-фичи"></a>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">И, наконец, это. <span class="text-muted">Шах и мат.</span></h2>
    <p class="lead">С другой стороны начало повседневной работы по формированию позиции способствует подготовки и реализации дальнейших направлений развития.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" src="http://placehold.it/500x500" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->